@model IEnumerable<Restify.Models.Landlord>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restify.styles.css" asp-append-version="true" />
</head>
<body>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.landlord_firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.landlord_lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.landlord_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.landlord_contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.landlord_firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.landlord_lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.landlord_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.landlord_contact)
            </td>
 
            <td>
                <a asp-action="Edit" asp-route-id="@item.landlord_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.landlord_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.landlord_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>